{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% comment %} Load CSS sheets before JavaScript {% endcomment %}
    {% block css %}
      <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}vmosui/css/vmosui.css" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}vmosui/img/favicon.ico">
    <script src="{{ STATIC_URL }}vmosui/js/base.js" type="text/javascript" charset="utf-8"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{% block page_id %}{% endblock %}">
    {% block content %}
      <div class="main-container">
        <div id="leftnav" class="fifth-width">
          <div class="logo">
            <a href="/"><img src="{{ STATIC_URL }}vmosui/img/vmw_nsx.png" alt="VMware NSX"></a><br/>
            <a href="/">+ OpenStack</a><br/>
          </div>
          <button id="prepare-btn" class="btn btn-primary">1. Prepare</button><br/>
          {% include "vmosui/_prepare_menu.html" %}
          <button id="deploy-nsx-btn" class="btn btn-primary actionable" action="{% url 'deploy:nsx' %}">2. Deploy NSX</button><br/>
          <button id="configure-nsx-btn" class="btn btn-primary actionable" action="{% url 'configure:nsx' %}">3. Configure NSX</button><br/>
          <button id="deploy-sddc-btn" class="btn btn-primary actionable" action="{% url 'deploy:sddc' %}">4. Deploy SDDC </button><br/>
          <button id="configure-sddc-btn" class="btn btn-primary actionable" action="{% url 'configure:sddc' %}">5. Configure SDDC</button>
        </div>
        <div id="main">
          <div id="messages">
            <div id="success-message" class="text-success">{{ success_message }}</div>
            <div id="error-message" class="text-error">{{ error_message }}</div>
          </div>
          <div id="loading"><img src="{{ STATIC_URL }}vmosui/img/loading.gif" alt="Loading..."></div>
          <div id="contents">
            {% block contents %}{% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% comment %} Placed at the end of the document so the pages load faster {% endcomment %}
    {% block js %}
      <script src="{{ STATIC_URL }}vmosui/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}vmosui/js/vmosui.js" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
