{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% comment %} Load CSS sheets before JavaScript {% endcomment %}
    {% block css %}
      <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}vmosui/css/vmosui.css" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}vmosui/img/favicon.ico">
    <script src="{{ STATIC_URL }}vmosui/js/base.js" type="text/javascript" charset="utf-8"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{% block page_id %}{% endblock %}">
    {% block content %}
      <div id="leftnav">
        <div class="logo">
          <img src="{{ STATIC_URL }}vmosui/img/vmw_white.png" alt="VMware"><br/>
          SDDC
        </div>
        {% for menu in menus %}{% for menu_name, menu_list in menu.items %}
          <div id="{{ menu_name|slugify }}" class="leftnav-btn">{{ menu_name }}</div>
          {% if menu_name == settings.PREPARE_MENU %}
            {% include "prepare/_menu.html" with containers=menu_list %}
          {% else %}
            {% include "execute/_menu.html" with groups=menu_list %}
          {% endif %}
        {% endfor %}{% endfor %}
      </div>
      <div id="rightside">
        <div class="header">
          <div class=dropdown">
            <button class="btn header-btn dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown">User:&nbsp;{{ user.username }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="user-dropdown">
              <li role="presentation">
                <span class="header-link"><a href="{% url 'index' %}" role="menuitem" tabindex="-1">vCenter&nbsp;Settings</a></span>
              </li>
              <li role="presentation">
                <span class="header-link"><a href="{% url 'logout' %}" role="menuitem" tabindex="-1">Log&nbsp;Out</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div id="main">
          <div id="messages">
            <div id="success-message" class="text-success">{{ success_message }}</div>
            <div id="error-message" class="text-error">{{ error_message }}</div>
          </div>
          <div id="loading" class="no-display"><img src="{{ STATIC_URL }}vmosui/img/loading.gif" alt="Loading..."></div>
          <div id="contents"></div>
        </div>
      </div>
    {% endblock %}

    {% comment %} Placed at the end of the document so the pages load faster {% endcomment %}
    {% block js %}
      <script src="{{ STATIC_URL }}vmosui/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}vmosui/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}vmosui/js/vmosui.js" type="text/javascript" charset="utf-8"></script>
    {% endblock %}

    <div id="backdrop-vcenter" class="modal-backdrop" data-backdrop="static" data-keyboard="false"></div>
    <div id="modal-vcenter" class="modal show" tabindex="-1" role="dialog" aria-labelledby="modal-vcenter" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">vCenter Settings</h4>
            <div id="vcenter-errors" class="text-error"></div>
          </div>
          <form id="vcenter-form" action="{% url 'savevc' %}" method="post" role="form">
            <div class="modal-body">
              {% csrf_token %}
              <div class="modal-section right-border">
                {% for field in vcenter_form %}<div id="{{ field.html_name }}" class="form-field">
                  {% if '_datacenter' in field.html_name %}<button type="button" class="btn btn-sm {% if field.field.initial %}btn-secondary{% else %}btn-primary{% endif %} connect-btn" data-loading-text="Connecting...">Get Datacenters</button>{% endif %}
                  {% if '_datacenter' in field.html_name or '_cluster' in field.html_name %}<div class="{% if field.field.initial %}display{% else %}no-display{% endif %}">{% endif %}
                    <div id="error-{{ field.html_name }}"></div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.field.widget.input_type == 'password' %}<label>
                      <input class="form-control checkbox password-checkbox toggle-show" type="checkbox"/>&nbsp;Show password
                    </label><br/>{% endif %}
                    {% if '_datacenter' in field.html_name or '_cluster' in field.html_name %}</div>{% endif %}
                  </div>
                {% if forloop.counter == 5 %}</div>
                <div class="modal-section left-border">{% endif %}
              {% endfor %}</div>
            </div>
            <div class="modal-footer">
              <button id="vcenter-save" type="submit" class="btn btn-primary{% if missing_values %} no-display {% endif %}" data-loading-text="Saving...">Continue</button>
              <a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary">Log Out</button></a>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
