<div id="hv-row-{{ count }}" class="form-row-section">
  <div id="hv-error-{{ count }}" class="text-error"></div>
  <div class="form-row-buttons">
    <button id="hv-add-{{ count }}" type="button" class="btn btn-sm btn-reset btn-hv-add">+</button>
    <button id="hv-remove-{{ count }}" type="button" class="btn btn-sm btn-reset btn-hv-remove">&#8722;</button>
  </div>
  <div class="form-row-fields">
    <div class="form-row-field">Host IP
      <input id="hv-host-{{ count }}" type="text" class="form-control hv-host" name="hv-host-{{ count }}" value="{{ hv.host }}" required/>
    </div>
    <div class="form-row-field">User
      <input id="hv-user-{{ count }}" type="text" class="form-control hv-user" name="hv-user-{{ count }}" value="{{ hv.user }}" required/>
    </div>
    <div class="form-row-field">Password
      <input id="hv-password-{{ count }}" type="password" class="form-control hv-password" name="hv-password-{{ count }}" value="{{ hv.password }}" required/>
    </div>
    <div class="form-row-field">Bond Mode
      <select id="hv-bond-{{ count }}" class="form-control hv-bond" name="hv-bond-{{ count }}">
        <option value=""></option>
        <option value="none"{% if hv.bond == "none" %} selected{% endif %}>single NIC</option>
        <option class="multinic" value="lacp"{% if hv.bond == "lacp" %} selected{% endif %}>LACP</option>
        <option class="multinic" value="failover"{% if hv.bond == "failover" %} selected{% endif %}>failover</option>
      </select>
    </div>
    <div class="form-row-field">NICs&nbsp;<img id="hv-loadnics-{{ count }}" src="{{ STATIC_URL }}vmosui/img/loading-sm.gif" alt="Loading..." class="loading-sm no-display">
      <select id="hv-nics-{{ count }}" class="form-control hv-nics" name="hv-nics-{{ count }}" data-selected-nics="{{ hv.nics }}" disabled></select>
    </div>
    <div class="form-row-field">Transport IP
      <input id="hv-txip-{{ count }}" type="text" class="form-control" name="hv-txip-{{ count }}" value="{{ hv.txip }}" required/>
    </div>
    <div class="form-row-field">Transport Mask
      <input id="hv-txmask-{{ count }}" type="text" class="form-control" name="hv-txmask-{{ count }}" value="{{ hv.txmask }}" required/>
    </div>
    <div class="form-row-field">Transport Gateway
      <input id="hv-txgw-{{ count }}" type="text" class="form-control" name="hv-txgw-{{ count }}" value="{{ hv.txgw }}" required/>
    </div>
  </div>
</div>
