<div id="configure-hvs-contents">
  <div class="form-group-title">Configure</div>
  <form id="configure-form" action="{% url 'configure:run_hvs' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="ctype" value="hvs"/>
    {% include "configure/_hv_row.html" %}
    <div class="form-group-buttons">
      <button id="configure-validate" type="submit" class="btn btn-primary btn-submit">Validate</button>
      <button id="configure-run" type="submit" class="btn btn-primary btn-submit">Run</button>
      <span class="submit-options"><label><input type="checkbox" name="debug" value="1"/> Debug</label></span>
    </div>
  </form>
  <br/>
</div>
<div class="no-display">
  <!-- Template for cloning row. -->
  {% include "configure/_hv_row.html" with count="0" %}
</div>
