<div class="form-group-title">Configure</div>
<form id="configure-form" action="{% url 'configure:run_hvs' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="ctype" value="hvs"/>
  {% if count == 0 %}
    {% include "configure/_hv_row.html" with count="1" %}
  {% else %}
    {% for hv in hvs %}{% include "configure/_hv_row.html" with count=hv.count %}{% endfor %}
  {% endif %}
  <div class="form-group-buttons">
    <button id="configure-validate" type="submit" class="btn btn-primary">Validate</button>
    <button id="configure-run" type="submit" class="btn btn-primary">Run</button>
    <span class="submit-options"><label><input type="checkbox" name="debug" value="1"/> Debug</label></span>
  </div>
</form>
<br/>
{% if log_contents %}<pre id="configure-hvs-output" class="command-output">{{ log_contents }}</pre>{% endif %}
<div class="no-display">
  <!-- Template for cloning row. -->
  {% include "configure/_hv_row.html" with count="0" %}
</div>
