<div id="configure-{{ configure_type }}-contents">
  <pre id="configure-output">{{ log_contents }}</pre>
  <form id="configure-form" action="/configure/run/{{ configure_type }}" method="get">
    {% csrf_token %}
    <input type="hidden" name="ctype" value="{{ configure_type }}"/>
    <button id="configure-validate" type="submit" class="btn btn-primary btn-submit">Validate</button>
    <button id="configure-run" type="submit" class="btn btn-primary btn-submit">Run</button>
    <span class="submit-options"><input id="debug" type="checkbox" name="debug" value="debug"/> <label for="debug">Debug output</label></span>
  </form>
</div>
