{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% comment %} Load CSS sheets before JavaScript {% endcomment %}
    {% block css %}
      <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}supervio/css/supervio.css" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}supervio/img/favicon.ico">
    <script src="{{ STATIC_URL }}supervio/js/base.js" type="text/javascript" charset="utf-8"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{% block page_id %}{% endblock %}">
    {% block navigation %}
      <div id="leftnav">
        <div class="logo">
          <img src="{{ STATIC_URL }}supervio/img/vmw_white.png" alt="VMware"><br/>
          SuperVIO
        </div>
        {% for menu in menus %}{% for menu_name, menu_list in menu.items %}
          <div id="{{ menu_name|slugify }}" class="{% if menu_name == settings.PREPARE_MENU %}prepare-btn {% endif %}leftnav-btn">{{ menu_name }}</div>
          {% if menu_name == settings.PREPARE_MENU %}
            {% include "prepare/_menu.html" with containers=menu_list %}
          {% else %}
            {% include "execute/_menu.html" with groups=menu_list %}
          {% endif %}
        {% endfor %}{% endfor %}
      </div>
    {% endblock %}
    {% block header %}
      <div id="rightside">
        <div class="header">
          <div class=dropdown">
            <button class="btn header-btn dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown">User:&nbsp;{{ user.username }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="user-dropdown">
              <li role="presentation">
                <span class="header-link"><a href="{% url 'vcenter' %}" role="menuitem" tabindex="-1">vCenter&nbsp;Settings</a></span>
              </li>
              <li role="presentation">
                <span class="header-link"><a href="{% url 'logout' %}" role="menuitem" tabindex="-1">Log&nbsp;Out</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div id="main">
          <div id="messages">
            <div id="success-message" class="text-success">{{ success_message }}</div>
            <div id="error-message" class="text-error">{{ error_message }}</div>
          </div>
          <div id="loading" class="no-display"><img src="{{ STATIC_URL }}supervio/img/loading.gif" alt="Loading..."></div>
          <div id="contents">
			{% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}

    {% comment %} Placed at the end of the document so the pages load faster {% endcomment %}
    {% block js %}
      <script src="{{ STATIC_URL }}supervio/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}supervio/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ STATIC_URL }}supervio/js/supervio.js" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
