{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "VMware SuperVIO" %}{% endblock %}

{% block page_id %}supervio-index{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<img src="{{ STATIC_URL }}supervio/img/howmany.png" width="300px;" height="500px;" alt="How Big"/>
		<br/><center><button type="button" class="btn btn-primary">Hosts</button></button></center>
	</div>
	<div class="col-sm-4">
		 <img src="{{ STATIC_URL }}supervio/img/howgood.png" width="300px;" height="500px;"  alt="How Safe"/>
		<br/><center><button type="button" class="btn btn-primary">Resilience</button></button></center>
	</div>
    <div class="col-sm-4">
		<img src="{{ STATIC_URL }}supervio/img/howbig.png" width="300px;" height="500px;"  alt="How Many"/>
		<br/><center><button type="button" class="btn btn-primary">Clouds</button></button></center>
	</div>
</div>
{% endblock %}
