html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #717074;
  margin-bottom: 40px;
  margin-top: 10px;
  height: 100%;
  background-image: url('/static/vmosui/img/bg_rb.png');
  background-repeat: no-repeat;
  background-position: right 100%;
}

label {
  font-weight: normal;
}

/* Navigation */

.header {
  text-align: right;
  color: #FFFFFF;
  padding: 10px 20px;
}

.header-link {
  color: #FFFFFF;
  margin-left: 20px;
}
.header-link a,
.header-link a:focus,
.header-link a:active {
  color: #FFFFFF;
  text-decoration: none;
}
.header-link a:hover {
  text-decoration: underline;
}

#leftnav {
  display: inline-block;
  width: 19%;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-right: 1px solid #DDDDDD;
  font-size: 14px;
  overflow: auto;
}
#leftnav button.btn-primary {
  width: 140px;
  text-align: left;
}

.logo {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: -5px;
  color: #717074;
}
.logo img {
  /* Same width as leftnav buttons */
  width: 140px;
  height: auto;
}
.logo a,
.logo a:hover,
.logo a:focus,
.logo a:active {
  color: #717074;
  text-decoration: none;
}

#login-form .logo {
  color: #FFFFFF;
  text-align: left;
  margin-top: 40px;
  /* Vertically align with .form-field */
  margin-left: 100px;
}
#login-form .logo img {
  width: 250px;
}

.menu ul {
  list-style: none;
  text-align: left;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: -36px;
}
.menu ul ul {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: -26px;
}

.expand-collapse-container {
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
}

span.clickable {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
span.clickable:hover,
span.clickable-hover {
  text-decoration: underline;
}

.collapsible {
  display: inline-block;
  vertical-align: 3px;
  width: 0;
  height: 0;
  border-top: 5px solid #717074;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.expandable {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #717074;
  margin-right: 5px;
}

.btn-arrow-right {
  display: inline-block;
  vertical-align: -16px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #003D79;
}

/* Contents */

#loading {
  margin-top: 50px;
  text-align: center;
}

.loading-sm {
  height: 14px;
  width: 14px;
  vertical-align: text-top;
  font-size: 10px;
}

.main-container {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Get rid of space between child inline-block divs */
  /* NOTE: Need to reset font-size for all child elements */
  font-size: 0;
}

#main {
  display: inline-block;
  width: 74%;
  border-left: 1px solid #DDDDDD;
  margin-left: -1px;
  font-size: 14px;
}

#messages {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

#contents {
  padding: 0 30px 20px 30px;
}

#vmosui-login {
  background-color: #EEEEEE;
  text-align: center;
  padding-top: 40px;
}

.command-output {
  max-height: 650px;
}

.no-display {
  display: none;
}

/* Forms */

.form-group-title {
  font-size: 28px;
  border-bottom: 2px solid #6DB33F;
  text-align: text-top;
}

.form-section-title {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #717074;
  color: #FFFFFF;
  padding: 5px 10px;
}

.form-section {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-right: 5px;
  background-color: #EEEEEE;
}
.form-section.no-title {
  margin-top: 0;
  padding: 5px 10px;
  display: block;
  min-width: 850px;
  margin-bottom: 5px;
}
.form-section .checkbox {
  font-weight: normal;
}
.form-section .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  margin-bottom: 2px;
}
.form-section .form-control:focus {
  z-index: 2;
}

#login-form .form-section {
  width: 600px;
  height: 320px;
  background-color: #006990;
  border-radius: 14px;
  background-image: url('/static/vmosui/img/bg_rt.png');
  background-repeat: no-repeat;
  background-position: right 0;
}

.form-field {
  margin: 0 10px 8px 10px;
}

#login-form .form-field {
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
  color: #FFFFFF;
  text-align: left;
}

.form-row-buttons {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: -5px;
  margin-right: 5px;
}

.form-row-field {
  display: inline-block;
  vertical-align: top;
}

.form-field-title {
  color: #555555;
}

.form-control:focus {
  border-color: #0095D3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(137, 203, 223, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(137, 203, 223, .6);
}

.form-control.checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.form-group-buttons {
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 5px;
}
.btn.active-step {
  box-shadow: none;
  background-color: #003D79;
  border-color: transparent;
  cursor: default;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-primary {
  background-color: #006990;
  border-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
  background-color: #003D79;
  border-color: transparent;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #387C2C;
  border-color: #387C2C;
}

.btn-reset {
  background-color: #999999;
  border-color: transparent;
  color: #FFFFFF;
}
.btn-reset:hover,
.btn-reset:focus,
.btn-reset:active,
.open .dropdown-toggle.btn-reset {
  background-color: #CCCCCC;
  border-color: transparent;
  color: #FFFFFF;
}

.btn-submit {
  background-color: #6DB33F;
  border-color: transparent;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.open .dropdown-toggle.btn-submit {
  background-color: #387C2C;
  border-color: transparent;
}

button a,
button a:hover,
button a:focus,
button a:active {
  color: #FFFFFF;
  text-decoration: none;
}

.submit-options {
  margin-left: 5px;
  vertical-align: middle;
}

label.disabled {
  color: #717074;
}

/* Text */

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #387C2C;
}
.has-success .form-control {
  border-color: #387C2C;
}
.has-success .form-control:focus {
  border-color: #2D6323;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #609656;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #609656;
}
.has-success .input-group-addon {
  color: #387C2C;
  border-color: #387C2C;
}
.has-success .form-control-feedback {
  color: #387C2C;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #F8981D;
}
.has-warning .form-control {
  border-color: #F8981D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #C67A17;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #F9AD4A;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #F9AD4A;
}
.has-warning .input-group-addon {
  color: #F8981D;
  border-color: #F8981D;
}
.has-warning .form-control-feedback {
  color: #F8981D;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .errorlist {
  color: #9E3039;
}
.has-error .errorlist {
  margin-bottom: 2px;
}
.has-error .form-control {
  border-color: #9E3039;
}
.has-error .form-control:focus {
  border-color: #7E262E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #B15961;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #B15961;
}
.has-error .input-group-addon {
  color: #9E3039;
  border-color: #9E3039;
}
.has-error .form-control-feedback {
  color: #9E3039;
}

.text-success {
  color: #387C2C;
}
a.text-success:hover {
  color: #6DB33F;
}
.text-info {
  color: #003D79;
}
a.text-info:hover {
  color: #006990;
}
.text-warning {
  color: #F8981D;
}
a.text-warning:hover {
  color: #FDB813;
}
.text-error {
  color: #9E3039;
}
a.text-error:hover {
  color: #D9541E;
}
