import django.conf.global_settings as DEFAULT_SETTINGS
from settings import *


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

TEMPLATE_DEBUG = False

TEMPLATE_CONTEXT_PROCESSORS = DEFAULT_SETTINGS.TEMPLATE_CONTEXT_PROCESSORS + (
    'vmosui.context_processors.Vmosui',
)

ALLOWED_HOSTS = ['vmos']

AUTHENTICATION_BACKENDS = ('vmosui.auth.PamBackend',)

LOGIN_URL = '/login'

ANSWER_FILE_DIR = '/var/lib/vmos/'

# ANSWER_FILE_BASE template schema:
# - <container_name>
#     - <group_name>
#         - <section_name>
#             - id: <attribute_id>
#               (name: <attribute_name>)
#               (default: <default_value)
#               (input: checkbox|file)
#               (show: <attr_id1>,<attr_id2>,<attr_id3>)
#               (optional: 1)
#               (options:
#                   - id: <option_id>
#                     (name: <option_name>)
#                     (show: <attr_id1>,<attr_id2>,<attr_id3>)
#
# Keep all list items in the order that they should appear in when displayed.
# Each container and group is a heading in the nav menu for the "Prepare" step.
# Keys for the answer file are stored in the "id" attribute of the sections.
# Each section is displayed as a part of the form for its group.
ANSWER_FILE_BASE = 'base.yml'
ANSWER_FILE_DEFAULT = 'answerfile.yml'

PREPARE_FILES_DIR = '/var/lib/vmos/prepare/'

VMOS_LOG_DIR = '/var/log/vmos/'

NSX_DEPLOY_LOG = 'nsx-deploy.log'
NSX_CONFIGURE_LOG = 'nsx-configure.log'
SDDC_DEPLOY_LOG = 'sddc-deploy.log'
SDDC_CONFIGURE_LOG = 'sddc-configure.log'
HVS_CONFIGURE_LOG = 'hvs-configure.log'

DEBUG_OPTION = '-vvv'

# List of NSX commands, one string per command and its arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
NSX_DEPLOY_VALIDATE = []
NSX_DEPLOY_RUN = []
NSX_CONFIGURE_VALIDATE = []
NSX_CONFIGURE_RUN = []

# List of SDDC commands, one string per command and its arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
SDDC_DEPLOY_VALIDATE = []
SDDC_DEPLOY_RUN = []
SDDC_CONFIGURE_VALIDATE = []
SDDC_CONFIGURE_RUN = []

# Name of playbook to get list of NICs from a hypervisor.
NICS_FILE = 'get_nics.yml'
# File containing [hypervisors] block for configuration.
HVS_FILE = 'hvs.yml'
# List of hypervisor-related commands, one string per command and its
# arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
HVS_CONFIGURE_VALIDATE = []
HVS_CONFIGURE_RUN = []
