import django.conf.global_settings as DEFAULT_SETTINGS
from settings import *


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

TEMPLATE_DEBUG = False

TEMPLATE_CONTEXT_PROCESSORS = DEFAULT_SETTINGS.TEMPLATE_CONTEXT_PROCESSORS + (
    'vmosui.context_processors.Vmosui',
)

ALLOWED_HOSTS = ['vmos']

AUTHENTICATION_BACKENDS = ('vmosui.auth.PamBackend',)

LOGIN_URL = '/login'

ANSWER_FILE_DIR = '/var/lib/vmos/'
# ANSWER_FILE_BASE schema:
# - <container_name>
#     - <group_name>
#         - <section_name>
#             - id: <attribute_id>
#               (name: <attribute_name>)
#               (default: <default_value)
#               (input: checkbox|file|dropdown)
#               (show: <attr_id1>,<attr_id2>,<attr_id3>)
#               (optional: 1)
#               (help: <help_text>)
#               (options: (comp_vc_datacenters|comp_vc_clusters|comp_vc_hosts|
#                          comp_vc_datastores|comp_vc_networks|
#                          mgmt_vc_datacenters|mgmt_vc_clusters|mgmt_vc_hosts|
#                          mgmt_vc_datastores_mgmt_vc_networks)
#                OR
#                    - id: <dropdown_option_id>
#                      (name: <dropdown_option_name>)
#                      (show: <attr_id1>,<attr_id2>,<attr_id3>))
#
# Keep all list items in the order that they should appear in when displayed.
# Each container and group is a heading in the nav menu for the "Prepare" step.
# Keys for the answer file are stored in the "id" attribute of the sections.
# Each section is displayed as a part of the form for its group.
ANSWER_FILE_BASE = 'base.yml'
ANSWER_FILE_DEFAULT = 'answerfile.yml'

VCENTER_SETTINGS = '%s/vcenter.yml' % ANSWER_FILE_DIR

PREPARE_FILES_DIR = '/var/lib/vmos/prepare/'

VMOS_LOG_DIR = '/var/log/vmos/'

NSX_DEPLOY_LOG = 'nsx-deploy.log'
NSX_CONFIGURE_LOG = 'nsx-configure.log'
SDDC_DEPLOY_LOG = 'sddc-deploy.log'
SDDC_CONFIGURE_LOG = 'sddc-configure.log'
HVS_CONFIGURE_LOG = 'hvs-configure.log'

DEBUG_OPTION = '-vvv'

# List of NSX commands, one string per command and its arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
NSX_DEPLOY_VALIDATE = []
NSX_DEPLOY_RUN = []
NSX_CONFIGURE_VALIDATE = []
NSX_CONFIGURE_RUN = []

# List of SDDC commands, one string per command and its arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
SDDC_DEPLOY_VALIDATE = []
SDDC_DEPLOY_RUN = []
SDDC_CONFIGURE_VALIDATE = []
SDDC_CONFIGURE_RUN = []

# Full path to playbook that gets list of NICs from a hypervisor.
NICS_PLAYBOOK = '%s/get_nics.yml' % ANSWER_FILE_DIR
# List of hypervisor-related commands, one string per command and its
# arguments.
# Example: [ 'echo "Hello World"', 'ls -la', ]
HVS_INI = '%s/hvs.ini' % ANSWER_FILE_DIR
HVS_CONFIGURE_VALIDATE = []
HVS_CONFIGURE_RUN = []
