import django.conf.global_settings as DEFAULT_SETTINGS
from settings import *


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

TEMPLATE_DEBUG = False

TEMPLATE_CONTEXT_PROCESSORS = DEFAULT_SETTINGS.TEMPLATE_CONTEXT_PROCESSORS + (
    'supervio.context_processors.SuperVIO',
)

ALLOWED_HOSTS = ['supervio']

AUTHENTICATION_BACKENDS = ('supervio.auth.PamBackend',)

LOGIN_URL = '/login'

ANSWER_FILE_DIR = '/opt/supervio/answers'
# ANSWER_FILE_BASE schema:
# - <PREPARE_MENU>
#     - <container_name>
#         - <group_name>
#             - <section_name>
#                 - id: <attribute_id>
#                   (name: <attribute_name> - defaults to <attribute_id>)
#                   (default: <default_value> - defaults to '')
#                   (input: checkbox|file|dropdown - defaults to text box)
#                   (show: <attr_id_1>,<attr_id_2>,<attr_id_3>)
#                   (optional: 1)
#                   (help: <help_text>)
#                   (options: (comp_vc|comp_vc_username|comp_vc_password|
#                              comp_vc_datacenter|comp_vc_cluster|comp_vc_hosts|
#                              comp_vc_datastores|comp_vc_networks|
#                              mgmt_vc|mgmt_vc_username|mgmt_vc_password|
#                              mgmt_vc_datacenter|mgmt_vc_cluster|mgmt_vc_hosts|
#                              mgmt_vc_datastores_mgmt_vc_networks)
#                        OR
#                        - id: <dropdown_option_id>
#                          (name: <dropdown_option_name> - defaults to
#                           <dropdown_option_id>)
#                          (show: <attr_id_1>,<attr_id_2>,<attr_id_3>))
# - <menu_name>
#     - <group_name>
#         - id: <action_id>
#           (name: <action_name> - defaults to <action_id>)
#           (input: checkbox - defaults to button)
#           (commands:
#                - <command_1>
#                - <command_2>
#                - <command_3>
#            OR
#            argument: <argument_value> - passed in to all commands in this
#            action)
#
# Keep all list items in the order that they should appear in when displayed.
# Each container and group is a heading in the nav menu for the prepare step.
# Keys for the answer file are stored in the "id" attribute of the sections, so
# each prepare id must be unique. Sections are displayed in the group's form.
# Similarly, non-prepare menu action ids must be unique within a group.
ANSWER_FILE_BASE = 'base.yml'
ANSWER_FILE_DEFAULT = 'answerfile.yml'

VCENTER_PORT = 443
VCENTER_SETTINGS = '%s/vcenter.yml' % ANSWER_FILE_DIR
INPUT_OPTIONS = '%s/vcenter_options.yml' % ANSWER_FILE_DIR

# Name of the list in ANSWER_FILE_BASE that contains answer file attributes.
PREPARE_MENU = 'Prepare'
PREPARE_FILES_DIR = '/opt/supervio/prepare/'

SUPERVIO_LOG_DIR = '/var/log/supervio/'
